body {
	overflow: hidden;
}

.something {
	height: 233px;
	margin-top: 89px;
}

.top, a {
	padding-right: 10px;
	text-align: right;
	font: 12px sans-serif;
	color: #808080;
	text-decoration: none;
	word-spacing: 7px;
}

a:hover {
	text-decoration: underline;
}

.logo {
	display: block;
	padding-top: 109px;
}

.buttons {
	margin-top: 27px;
	margin-right: 10px;
}

input[type=text] {
	margin-top: 15px;
	border: 0;
	height: 35px;
	width: 550px;
	font: 16px sans-serif;
	box-shadow:  2px 2px 4px 0 #7b7b7b;
	outline: 0;
	text-indent: 15px;
}

input[type=text]:hover {
	box-shadow:  3px 3px 4px 0 #7b7b7b;
}

button[type=button] {
	-webkit-transition-duration: 0.2s;
	transition-duration: : 0.2s;
	border: 0;
	border-radius: 3px;
	background-color: #f3f3f3;
	border: 1px solid #f3f3f3;
	font: 16px sans-serif;
	color: #808080;
	font-style: bold;
	height: 40px;
	width: 150px;
	text-align: center;
	outline: 0;
}

button[type=button]:hover {
	background-color: #eaeaea;
	color: #000;
	border: 1px solid grey;
}

.foot {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	background: #f3f3f3;
	word-spacing: 7px;
}

.foot_left {
	display: inline-block;
	float: left;
	padding-left: 10px;
	margin-top: 11px;
}

.foot_right {
	display: inline-block;
	float: right;
	padding right: 10px;
	margin-top: 11px;
}